<%- include('../partials/header') %>
    <main>
        <h1>Edit Product</h1>
        <p>Product editing functionality will be implemented in a future assignment.</p>
        <p><a href="/dashboard">Return to Dashboard</a></p>
    </main>
    <%- include('../partials/footer') %>